

<small> Click on the map to start drawing the path<br>(2 coordinates minimum)</small>
<br>
<br>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Flight Plan Name" name="name" [(ngModel)]="flightPlan.Name" #Name="ngModel"  required >
    </mat-form-field>
</form>

<mat-nav-list>
    <mat-list-item *ngFor="let coordinate of flightPlan.Coordinates; let i = index;">
        <small style="width: 100%; text-align: right;">Lat : {{coordinate.Lat | number:'2.0-4'}} Lng : {{coordinate.Lng | number:'2.0-4'}}<fa-icon style="margin-left : 10px;"[icon]="faTrash" (click)="deleteCoordinate(i)"></fa-icon>  </small>
    </mat-list-item>
</mat-nav-list>

<button _ngcontent-c24="" mat-raised-button="" class="mat-raised-button" (click)="cancelCoordinates()">
    <span class="mat-button-wrapper">Cancel</span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
</button>
<br>
<button _ngcontent-c24="" color="primary" mat-raised-button="" class="mat-raised-button mat-primary" (click)="saveCoordinates()">
    <span class="mat-button-wrapper">Save</span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
</button>

