.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toggle{
  position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}

::ng-deep mat-sidenav {
  padding: 20px;
  text-align: center;

  p,div,mat-list-item{
    font-size: 0.7rem;
    
  }
  small{
    font-size: 0.6rem;
  }

  mat-list-item{
    height: 2rem !important;
  }
  


  .sidenav-header{
  }


  .sidenav-footer{
    position: absolute;
    bottom: 0;
  }

}

.create{
  position: absolute;
    bottom: 20px;
    right: 50px;
    z-index: 3;
}