<mat-sidenav-container class="example-container" [hasBackdrop]="false">
    <mat-sidenav #leftSideNav mode="over" [(opened)]="opened" >
      <div class="sidenav-header">
          <h3>Saved Flight plans</h3>
      </div>
      <home-left-sidebar [flightPlans] = "flightPlans" (emitter)="changeCreationMode($event)"></home-left-sidebar>
      <div class="sidenav-footer">
          <button _ngcontent-c24="" mat-raised-button="" class="mat-raised-button" (click)="leftSideNav.toggle()">
              <span class="mat-button-wrapper">Close</span>
              <div class="mat-button-ripple mat-ripple" matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
          </button>
      </div>
      
    </mat-sidenav>
    <mat-sidenav-content>
      <button _ngcontent-c24="" color="accent" mat-raised-button="" class="mat-raised-button mat-accent toggle" (click)="leftSideNav.toggle()">
        <span class="mat-button-wrapper">Saved Flight Plans</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
      <home-map [creationMode]="creationMode"></home-map>
      <button _ngcontent-c24="" mat-fab="" class="mat-fab mat-primary create" *ngIf="!creationMode" (click)="triggerCreationMode()">
        <fa-icon [icon]="faPlus"></fa-icon>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
    </mat-sidenav-content>
    <mat-sidenav #rightSideNav mode="over" [(opened)]="creationMode"  position="end" >
        <div class="sidenav-header">
            <h3>New Flight Plan</h3>
        </div>
        <home-right-sidebar (emitter)="changeCreationMode($event)" (emitter2)="refreshFlightPlansList()"></home-right-sidebar>
        
    </mat-sidenav>
  </mat-sidenav-container>