
<agm-map [latitude]="userLat" [longitude]="userLng" (mapClick)="addCoordinates($event)">
  <agm-polyline *ngFor="let point of flightPlan.Coordinates;let i = index;"  [strokeColor]="'#ff4081'" >
      <agm-polyline-point [latitude]="point.Lat" [longitude]="point.Lng"></agm-polyline-point>
      <ng-container *ngIf="flightPlan.Coordinates[i+1]">
          <agm-polyline-point [latitude]="flightPlan.Coordinates[i+1].Lat" [longitude]="flightPlan.Coordinates[i+1].Lng">
          </agm-polyline-point>
      </ng-container>
  </agm-polyline>
</agm-map>